/* csslint ignore:start */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* csslint ignore:end */

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/* Parent lvl 0 or Master Parent */
body{
    background-color: antiquewhite;
    min-width: 1349px;
    min-height: 833px;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "Lucida Sans Regular", Geneva, Verdana, sans-serif;
}

/* -------------------------------------------------------------- */
/* --------------------------- HEADER --------------------------- */
/* -------------------------------------------------------------- */
/* Parent lvl 1*/
/* Child lvl 0 */
header{
    height: 538px;
    width: 1349px;
    margin-left: auto;
    margin-right: auto;
}

.img-bck-gnd{
    float: left;
    height: 538px;
    width: 1349px;
    margin-left: auto;
    margin-right: auto;
    /* Background IMG */
    background: url("./assets/your_verse_hero.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.header-container{
  background-color: rgb(172, 172, 172);
}
.header-container:hover{
  background-color: rgb(102, 102, 102);
}

/* Parent lvl 2 */
/* Child lvl 1 */
header > nav{
    position: absolute;
    top: 83px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    height: 36px;
    /* Background Gradient */
    background: linear-gradient(
        to bottom,
        rgb(114, 109, 109) 8%,
        rgb(87, 86, 86) 40%,
        rgb(93, 92, 92) 50%,
        rgb(107, 107, 107) 53%,
        rgb(144, 144, 144) 95%
    ); 
    border-radius: 4px;
    /* csslint ignore:start */
    border: 1px solid rgb(109, 109, 109);
    /* csslint ignore:end */
    font-size: 13px;
}

/* Parent lvl 3*/
/* Child lvl 2 */
.header-nav-ul{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 99%;
}

/* Parent lvl 4 */
/* Child lvl 3*/
.h-nav-item{
    position: relative;
    width: 100%;
    height: 100%;
    /* csslint ignore:start */
    border-right: 1px solid rgba(75, 75, 75, 0.5);
    /* csslint ignore:end */
    color: rgb(231, 230, 230);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.753),
    1px 1px 1px rgba(66, 66, 66, 0.651);
    cursor: pointer;
    text-align: center;
}

.first-8:hover {
    background: gray;
    background: rgb(0, 0, 0, 0.4);
}

/* Childs lvl 4*/
/* Apple Icon! */
.h-nav-item:first-of-type > span
{
    position: relative;
    top: 5.5px;
    right: 2.5px;
}

.h-nav-item  > span {
    position: relative;
    top: 7px;
}
/* ------------------------------------------------- */

/* Parent lvl 4 */
/* Child lvl 3*/
.h-nav-item:last-of-type{
    width: 108%;
    height: 100%;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.753),
    1px 1px 1px rgba(66, 66, 66, 0.651);
    border: 0;
    text-align: center;
    cursor: default;
    flex-grow: 1;
}

/* Childs lvl 4 */
.h-nav-item:last-of-type > input{
    position: relative;
    top: 5px;
    left: 5px;
    width: 100px;
    height: 22px;
    border-radius: 9px;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    box-shadow: inset 0 1px 1px rgba(70, 70, 70, 0.8),
    inset 0 -1px 1px rgba(204, 204, 204, 0.6);
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.h-nav-item:last-of-type > input:focus {
    background: white;
    width: 200px;
    outline: 0;
    /* csslint ignore:start */
    border: 1px solid rgb(75, 75, 75);
    /* csslint ignore:end */
}

/* Search Icon! */
.h-nav-item:last-of-type > svg{
    width: 15px;
    height: 22px;
    position: absolute;
    left: 18.8px;
    top: 5.3px;
    cursor: default;
} 
/* ------------------------------------------------- */

/* Parent lvl 2 */
/* Child lvl 1 */
.header-txt-container{
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 980px;
    background-color: transparent;
}

/* Child lvl 2 */
.h-txt-1{
    height: 80px;
    width: 100%;
    /* background-color: rgb(83, 110, 90); */
    /* Background IMG */
    background: url("./assets/whatwill.png");
    background-repeat: no-repeat;
    background-position: 50% -11px;

    display: block;
}
.h-txt-1:hover{
    cursor: pointer;
}

/* Child lvl 2 */
.h-txt-2{
    height: 90px;
    width: 100%;
    /* background-color: rgb(127, 168, 138); */
    /* Background IMG */
    background: url("./assets/everyone.png");
    background-repeat: no-repeat;
    background-position: 50% 3px;
    display: block;
    margin-top: 1px;
}
.h-txt-2:hover{
    cursor: pointer;
}

/* Child lvl 2 */
.h-txt-3{
    height: 33px;
    width: 100%;
    /* background-color: rgb(173, 219, 186); */
    /* Background IMG */
    background: url("./assets/watch.png");
    background-repeat: no-repeat;
    background-position: 50% -2%;
    display: block;
    margin-top: 21px;
}
.h-txt-3:hover{
    height: 33px;
    width: 100%;
    /* background-color: rgb(173, 219, 186); */
    /* Background IMG */
    background: url("./assets/watch.png");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    cursor: pointer;
}

/* Child lvl 2 */
.h-txt-4{
    height: 75px;
    width: 100%;
    background-color: transparent;
}
/* -------------------------------------------------------------- */
/* --------------------------- HEADER --------------------------- */
/* -------------------------------------------------------------- */



/* -------------------------------------------------------------- */
/* ---------------------------- ASIDE --------------------------- */
/* -------------------------------------------------------------- */
/* Parent lvl 1*/
aside{
    background-color: rgb(99, 223, 147);
    height: 200px;
    width: 1349px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

aside:hover{
    background-color: rgb(33, 128, 25);
}

/* Parent lvl 2 */
/* Child lvl 1 */
.img-container{
    /* background-color: rgb(187, 146, 189); */
    width: 335.5px;
    height: 197.5px;
}

.img-prop{
    width: 335.5px;
    height: 197.5px;

    position: absolute;
    margin-top: 1.5px;
}

/* Childs lvl 2 */
.a-img-1{
    /* Background IMG */
    background: url("./assets/p_iphone5s.jpg");
    background-repeat: no-repeat;
    background-position: 50% 90%;
}

.a-img-2{
    /* Background IMG */
    background: url("./assets/p_iphone5c.jpg");
    background-repeat: no-repeat;
    background-position: 50% 90%;
}

.a-img-3{
    /* Background IMG */
    background: url("./assets/p_30years.jpg");
    background-repeat: no-repeat;
    background-position: 50% 90%;
}

.a-img-4{
    /* Background IMG */
    background: url("./assets/p_supres.jpg");
    background-repeat: no-repeat;
    background-position: 50% 90%;
}
/* -------------------------------------------------------------- */
/* ---------------------------- ASIDE --------------------------- */
/* -------------------------------------------------------------- */



/* -------------------------------------------------------------- */
/* --------------------------- FOOTER --------------------------- */
/* -------------------------------------------------------------- */
/* Parent lvl 1*/
footer{
    background-color: rgb(221, 158, 76);
    height: 95px;
    width: 1024px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    color:#6e6e6e;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 9.9px;
}

/* Parent lvl 2 */
/* Child lvl 1 */
.foot-box{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: 50%;
    width: 50%;  
}

.foot-box a{
    color: #08c;
    text-decoration: none;
}

.foot-box a:hover{
    color: #08c;
    text-decoration: underline;
}

/* Parent lvl 3 */
/* Child lvl  2*/
.fp1{
    bottom: -22px;
    left: 24px;

    position: relative;
}

/* Parent lvl 3 */
/* Child lvl  2*/
.ul-box-2{
    height: 95%;
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.ul-box-2 li{
    border-right: 1px solid#ccc;
    height: 15px;
    width: auto;
    top: 9px;
    right: 12px;

    position: relative;
    padding-right: 5px;
}

/* Last gray border footer 2nd box */
.ul-box-2 li:last-of-type{
    border: 0;
}

#eua-icon{
    height: 16px;
    width: 16px;
    border: 0;
}

/* Parent lvl 3 */
/* Child lvl  2*/
.ul-box-3{
    height: 95%;
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.ul-box-3 li{
    border-right: 1px solid#ccc;
    height: 15px;
    width: auto;
    bottom: 12px;
    right: 62px;

    position: relative;
    padding-right: 8px;
}

/* Last gray border footer 3rd box */
.ul-box-3 li:last-of-type{
    padding-left: 8px;
    border: 0;
}

.fp3{
    bottom: -2px;
    left: 24px;

    position: relative;
}
/* -------------------------------------------------------------- */
/* --------------------------- FOOTER --------------------------- */
/* -------------------------------------------------------------- */



