*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/* /* Parent lvl 0 or Master Parent */
body{
    background-color: antiquewhite;
    min-width: 1349px;
    min-height: 830px;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "Lucida Sans Regular", Geneva, Verdana, sans-serif;
}

/* Parent lvl 1*/
header{
    background-color: burlywood;
    height: 538px;
    width: 1349px;
    margin-left: auto;
    margin-right: auto;
}

/* Parent lvl 2 */
header > nav{
    position: absolute;
    top: 82px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    height: 36px;
    background: linear-gradient(
        to bottom,
        rgb(121, 121, 121) 5%,
        rgb(107, 107, 107) 51%,
        rgb(128, 128, 128) 55%,
        rgb(134, 134, 134) 94%
    );
    border-radius: 4px;
    border: 1px solid rgb(109, 109, 109);
    font-size: 13px;
}

/* Parent lvl 3*/
#header-nav-ul{
    display: flex;
    width: 99%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

/* Parent lvl 4 */
/* Child lvl 3*/
.h-nav-item{
    position: relative;
    width: 100%;
    height: 100%;
    border-right: 1px solid rgba(75, 75, 75, 0.5);
    color: rgb(231, 230, 230);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.753),
    1px 1px 1px rgba(66, 66, 66, 0.651);
    cursor: pointer;
    text-align: center;
}

/* Childs lvl 4 */
#apple{
    position: relative;
    top: 4.5px;
}

.h-nav-item  > span {
    position: relative;
    top: 7px;
}
/* ------------------------------------------------- */

/* Parent lvl 4 */
/* Child lvl 3*/
.h-nav-item:last-of-type{
    width: 108%;
    height: 100%;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.753),
    1px 1px 1px rgba(66, 66, 66, 0.651);
    border-right: none;
    text-align: center;
    cursor: default;
    flex-grow: 1;
}

/* Childs lvl 4 */
.h-nav-item:last-of-type > input{
    position: relative;
    top: 5px;
    left: 5px;
    width: 100px;
    height: 22px;
    border-radius: 9px;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    box-shadow: inset 0px 1px 1px rgba(70, 70, 70, 0.8),
    inset 0 -1px 1px rgba(204, 204, 204, 0.6);
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.h-nav-item:last-of-type > input:focus {
    background: white;
    width: 200px;
    outline: 0;
    border: 1px solid rgba(75, 75, 75, 0.8);
}

.h-nav-item:last-of-type > svg{
    width: 15px;
    height: 22px;
    position: absolute;
    left: 18.8px;
    top: 5.3px;
    cursor: default;
} 
/* ------------------------------------------------- */


/* Parent lvl 1*/
aside{
    background-color: rgb(223, 169, 99);
    height: 200px;
    width: 1349px;
    margin: 0 auto;
}

/* Parent lvl 1*/
footer{
    background-color: rgb(221, 158, 76);
    height: 90px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}




