* {
	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

body{
    background-color: antiquewhite;
    min-width: 1349px;
    min-height: 830px;
    width: 100%;
    height: 100%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Lucida Sans Regular", Geneva, Verdana, sans-serif;
}

header{
    background-color: burlywood;
    height: 538px;
    width: 1349px;
    margin-left: auto;
    margin-right: auto;
}

header > nav{
    position: relative;
    width: 980px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(
        to bottom,
        rgb(121, 121, 121) 5%,
        rgb(107, 107, 107) 51%,
        rgb(128, 128, 128) 55%,
        rgb(134, 134, 134) 94%
    );
    top: 82.5px;
    border-radius: 4px;
    border: 1px solid rgb(109, 109, 109);
}

#header-nav-ul{
    float: left;
    width: 100%;
    height: 100%;
}

.h-nav-item{
    float: left;
    width: 10.8%;
    height: 100%;
    border-right: 1px solid rgba(75, 75, 75, 0.5);
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.753),
    1px 1px 1px rgba(66, 66, 66, 0.651);
    cursor: pointer;
}

#apple{
    position: relative;
    top: 20.5%;
    left: 39%;
    right: auto;
    font-size: 13.25px;
}

.h-nav-item  > span {
    position: relative;
    top: 10%;
    left: 32%;
    right: auto;
    font-size: 13.25px;
}

.last-h-nav-item{
    color: rgba(255, 255, 255, 0.9);
    float: left;
    height: 100%;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.753),
    1px 1px 1px rgba(66, 66, 66, 0.651);
    width: 13.6%;
}

.last-h-nav-item > input{
    position: relative;
    width: 104px;
    height: 22px;
    top: 4px;
    left: 15px;
    border-radius: 9px;
    border-width: 1px;
    box-shadow: inset 0 1px 1px rgba(204, 204, 204, 0.6),
    inset 0 -1px 1px rgba(70, 70, 70, 0.8);
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.last-h-nav-item > svg{
    width: 14px;
    height: 13px;
    position: absolute;
    right: 99px;
    top: 11px;
    cursor: pointer;
}

aside{
    background-color: rgb(223, 169, 99);
    height: 200px;
    width: 1349px;
    margin: 0 auto;
}

footer{
    background-color: rgb(221, 158, 76);
    height: 90px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}




